@keyframes underline_gradient {
	0% {border-color: #fff;}
	50% {border-color: #f0bc2a;}
	100% {border-color: #f42052;}
}

@keyframes bg_gradient{
	0% {background-color: rgba(255,255,255,0);}
	100% {background-color: rgba(0,0,0,0.4);}
}