@font-face
{
	font-family: CitricaCyrillic;
	src: url(../fonts/CitricaCyrillic-Regular.ttf);
}
@font-face {
	font-family: OpenSansLht;
	src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Regular.ttf);
}