h1,h2,h3,p,figure
{
	margin: 0;
	padding: 0;
}

h2
{
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
}

p
{
	max-width: 900px;
	padding: 0 20px;
	text-align: center;
}

.activelink
{
	border-bottom: 2px solid #f42052;
}

.navbar-animation-onscroll
{
	animation: bg_gradient .5s linear forwards;
}

body
{
	font-family: OpenSans;
}

header
{
	width: 100%;
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	background-image: url(../images/main_first_x.jpg);
	background-color: rgb(214,200,159);
  	background-blend-mode: multiply;
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: space-between;
  	color: #fff;
}

nav
{
	width: 100%;
	position: fixed;
	z-index: 999;
	font-size: 15px;
}

nav ul
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style-type: none;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.mobile-visible, .desktop-visible
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.mobile-visible
{
	display: none;
}
nav li
{
	padding: 10px 0;
}

.mobile-visible span
{
	text-transform: uppercase;
	font-family: CitricaCyrillic;
	margin: 10px 0;
	display: block;
}

.desktop-visible a
{
	text-decoration: none;
	margin: 10px 35px;
	color: #fff;
	display: block;
	font-weight: normal;
	text-transform: uppercase;
	padding-bottom: 5px;
}


.desktop-visible a:not([class="activelink"]):hover
{
	border-bottom: 2px solid;
	animation: underline_gradient .3s linear forwards;
}

/* SIDEMENU-START */
.sidemenu
{
	min-height: 20px;
	min-width: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px auto;
	position: relative;
	z-index: 999;
}

.sidemenu div
{
	height: 3px;
	width: 25px;
	background-color: #fff;
	border-radius: 3px;
	transition: .4s ease;
	position: relative;
}

.topstick
{
	margin-bottom: 5.5px;
	/* z-index: 999; */
}

.middlestick
{
	margin-bottom: 5.5px;
	opacity: 1;
}

/* .bottomstick
{
	z-index: 999;
} */

.clicked .topstick
{
	-webkit-transform:translateY(8.5px) rotate(45deg);
	-ms-transform:translateY(8.5px) rotate(45deg);
	-o-transform:translateY(8.5px) rotate(45deg);
	transform:translateY(8.5px) rotate(45deg);
}

.clicked .bottomstick
{
	-webkit-transform:translateY(-8.5px) rotate(-45deg);
	-ms-transform:translateY(-8.5px) rotate(-45deg);
	-o-transform:translateY(-8.5px) rotate(-45deg);
	transform:translateY(-8.5px) rotate(-45deg);
}

.clicked .middlestick
{
	opacity: 0;
}
/* SIDEMENU-END */
.name
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	padding: 20px 50px;
	margin-top: 35vh;
	border-top: 2px solid #f42052;
	border-bottom: 2px solid #f42052;
}

.name h1
{
	font-family: CitricaCyrillic;
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.name p
{
	font-size: 30px;
	margin: 0 auto;
}

header a
{
	color: #fff;
	margin-bottom: 30px;
}

#welcome
{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	padding: 65px 0;
}

#services
{
	width: 100%;
	padding: 65px 0 35px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/main_second_x.jpg);
	color: #fff;
}

#services p
{
	margin-bottom: 50px;
}

#services section
{
	max-width: 970px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.fig-row
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.fig-row a
{
	position: relative;
	text-decoration: none;
	color: #fff;
	margin-bottom: 30px;
}

.fig-row a:nth-child(even)
{
	margin-left: 25px;
}

.fig-row a:hover strong
{
	border-bottom: 2px solid;
	animation: underline_gradient .3s linear forwards;
}

.fig-row img
{
	max-width: 470px;
	max-height: 310px;
	min-width: 470px;
	min-height: 310px;
	width: 100%;
	height: 100%;
}

.fig-row figcaption
{
	position: absolute;
	min-width: 289px;
	min-height: 54px;
	background-color: rgba(156,139,129,.5);
	bottom: 30px;
	left: -10px;
	font-size: 25px;
	text-transform: uppercase;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.fig-row strong
{
	border-bottom: 2px solid rgba(0,0,0,0);
}

#rooms
{
	padding: 65px 0 65px 0;
	width: 100%;
}

#rooms h2
{
	text-align: center;
}

#rooms p, .banner__wrapper
{
	margin: 0 auto;
}

footer
{
	width: 100%;
	min-height: 100px;
	background-color: #000;
	color: #fff;
}

footer p
{
	text-align: right;
	opacity: .8;
}

footer div
{
	margin: 0 auto;
	max-width: 970px;
	min-height: inherit;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
