@media screen and (max-width:1366px)
{
	header
	{
		background-image: url(../images/main_first_l.jpg);
	}

	#services
	{
		background-image: url(../images/main_second_l.jpg);
	}
}

@media screen and (max-width:1024px)
{
	header, #services
	{
		background-attachment: scroll;
	}
}

@media screen and (max-width:1000px)
{
	.name
	{
		padding: 20px 20px;
	}

	.name h1, .sides_name h1
	{
		letter-spacing: 0;
	}

	.fig-row
	{
		justify-content: center;
	}
}

@media screen and (max-width:800px)
{
	.name h1
	{
		font-size: 60px;
	}

	.name p
	{
		font-size: 22.5px;
	}

	.fig-row a:nth-child(even)
	{
		margin-left: 0;
	}

	header
	{
		background-image: url(../images/main_first_s.jpg);
	}

	#services
	{
		background-image: url(../images/main_second_s.jpg);
	}
}

@media screen and (max-width:670px)
{
	.mobile-visible
	{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		margin: 0 20px;
	}


/* .desktop-visible
{
	display: none;
} */

	.desktop-visible
	{
		position: fixed;
		top: 0;
		right: -320px;
		z-index: 1;
		width: 320px;
		height: 100%;
		background-color: #000;
		display: block;
		padding-top: 100px;
		font-size: 20px;
		transition: .3s linear;
	}

	.desktop-visible a, .desktop-visible a:not([class="activelink"]):hover
	{
		border-bottom: 0;
	}

	.desktop-visible a:hover
	{
		opacity: .5;
		transition: .3s linear;
	}

	.sidenav-visible
	{
		right: 0px;
		transition: .3s linear;
	}

	.sides_name
	{
		margin-top: 105px;
	}

	.sides_name h1
	{
		font-size: 45px;
	}
}

@media screen and (max-width:560px)
{
	.name h1
	{
		font-size: 40px;
	}

	.name p
	{
		font-size: 15px;
	}
}

@media screen and (max-width:500px)
{
	.fig-row figcaption
	{
		left: 0;
		bottom: 0;
		min-width: 100%;
		font-size: 16px;
	}

	footer div
	{
		justify-content: center;
		align-content: center;
	}

	footer p:nth-child(1)
	{
		margin-bottom: 5px;
	}

	footer p
	{
		text-align: center;
	}
}

@media screen and (max-width:430px)
{
		.sides_name h1
	{
		font-size: 30px;
	}
}

@media screen and (max-width:385px)
{
	.fig-row img
	{
		min-height: 0;
		min-width: 100vw;
	}
}

@media screen and (max-width:350px)
{
	.name h1
	{
		font-size: 30px;
	}
}